<div class="container">
    <span ng-include="nav.url" class="slide-animate"></span>
    <div ng-include="bc.url"></div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel panel-heading">Settings</div>
                        <div class="panel panel-body">

                            <form name="settingsFormCtrl" ng-submit="putSettings()" novalidate="novalidate">
                                <div class="alert alert-danger" ng-if="showFormAlert(settingsFormCtrl)">
                                    You can click submit once all the required fields are filled in.
                                    Or there are changes to the form
                                </div>
                                <div class="form-group">
                                    <h4>Defaults</h4>
                                    <div class="form-group" ng-class="getCssClasses(settingsFormCtrl.related_site_uuid)" ng-if="mode != 'edit'">
                                        <label>Related DMP Site</label>
                                        <select ng-model="settingsForm.related_site_uuid"
                                                name="related_site_uuid"
                                                ng-options="site.uuid as site.name for site in settingsForm.dmp.sites"
                                                required>
                                            <option value="">--choose--</option>
                                        </select>
                                        <div ng-show="showError(settingsFormCtrl.related_site_uuid, 'required')" class="help-block alert alert-info">
                                            You need to relate these Settings to a Site from the DMP
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>URLs</label></br>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Path</th>
                                            <th>Url</th>
                                            <th>Default</th>
                                            <th>Remove</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="v in settingsForm.urls" ng-class="getCssClasses(settingsFormCtrl.related_site_uuid)">
                                            <td>
                                                <input name="urls_name"
                                                       id="urls_name_{{$index}}"
                                                       class="form-control"
                                                       ng-model="settingsForm.urls[$index].name"
                                                       placeholder="Staging Area"
                                                       required="required">
                                                <div ng-show="showError(settingsFormCtrl.urls_name, 'required')" class="help-block alert alert-info">
                                                    You need to have one URL for this site
                                                </div>
                                            </td>
                                            <td>
                                                <input name="urls_url"
                                                       id="urls_id_{{$index}}"
                                                       type="url"
                                                       placeholder="http://google.com"
                                                       class="form-control"
                                                       ng-model="settingsForm.urls[$index].url"
                                                       required>
                                                <div ng-show="showError(settingsFormCtrl.urls_url, 'url')" class="help-block alert alert-info">
                                                    It needs to be a valid url.
                                                </div>
                                                <div ng-show="showError(settingsFormCtrl.urls_url, 'required')" class="help-block alert alert-info">
                                                    You need to set the url
                                                </div>
                                            </td>
                                            <td>
                                                <input name="urls_default"
                                                       ng-change="unsetDefaults($index)"
                                                       class="form-control"
                                                       type="checkbox"
                                                       ng-model="settingsForm.urls[$index].default"
                                                       checked="checked: settingsForm.urls[$index].default"
                                                       ng-true-value="1" ng-false-value="0">
                                            </td>
                                            <td>
                                                <button class="btn btn-danger btn-xs"
                                                        data-ng-click="urlRemove($index)">
                                                    <i class="glyphicon glyphicon-remove"></i></button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <button type="button" class="btn btn-success" ng-click="addUrl()">add url</button>
                                </div>


                                <div class="form-group">
                                    <h4>Github</h4>
                                    <div class="form-group">
                                        <label>Github Folder</label>
                                        <input name="github_folder"
                                               class="form-control"
                                               placeholder="tests/behat"
                                               ng-model="settingsForm.github.github_tests_folder"
                                               required>
                                        <div ng-show="showError(settingsFormCtrl.github_folder, 'required')"
                                             class="help-block alert alert-info">
                                            This is the folder the tests will be in. Do not start with a / slash
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Github Repo</label>
                                        <input name="github_repo"
                                               class="form-control"
                                               ng-model="settingsForm.github.github_repo"
                                               placeholder="repo_name"
                                               required>
                                        <div ng-show="showError(settingsFormCtrl.github_repo, 'required')"
                                             class="help-block alert alert-info">
                                            You need to set the account name so if the url is https://github.com/foo/bar then the repo name is bar
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="false">
                                        <label>Github Account Name</label>
                                        <input name="github_account_name"
                                               class="form-control"
                                               ng-model="settingsForm.github.github_account_name"
                                               placeholder="foo">
                                        <div ng-show="showError(settingsFormCtrl.github_account_name, 'required')"
                                             class="help-block alert alert-info">
                                            You need to set the account name so if the url is https://github.com/foo/bar then the account name is foo
                                        </div>
                                    </div>
                                    <label>Github Branch</label>
                                    <input name="github_branch"
                                           class="form-control"
                                           placeholder="master"
                                           ng-model="settingsForm.github.github_branch"
                                           required>
                                    <div ng-show="showError(settingsFormCtrl.github_branch, 'required')"
                                         class="help-block alert alert-info">
                                        You need to choose the branch to get the files from you can change this later as needed. eg master or development
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary" ng-disabled="!submitReady()">Submit</button>


                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="well" ng-if="help_message">
                        <h3>Help!</h3>
                        <p data-ng-bind-html="help_message"></p>
                    </div>
                    <div class="col-md-12 column">
                        <div ng-include="alerts_partial.url"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>