<div class="container">
    <span ng-include="nav.url" class="slide-animate"></span>
    <div ng-include="bc.url"></div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel panel-heading">Settings</div>
                        <div class="panel panel-body">
                            <form ng-model="settingsForm" ng-submit="putSettings()">
                                <div class="form-group">
                                    <h4>Defaults</h4>
                                    <div class="form-group">
                                        <label>Base URL</label>
                                        <input class="form-control" type="text" ng-model="settingsForm.defaults.base_url" required/>
                                    </div>
                                    <div class="form-group">
                                        <label>Default Tag</label>
                                        <input class="form-control"  ng-model="settingsForm.defaults.default_tag" required/>
                                        <div class="help-block">This will connect all your tests under this site</div>
                                    </div>
                                </div>

                                <ng-include src="settings_url.url"></ng-include>
                                <div class="form-group">
                                    <h4>Github</h4>
                                    <div class="form-group">
                                        <label>Github Username</label>
                                        <input class="form-control" name="github_user" type="text" ng-model="settingsForm.github.github_username">
                                    </div>
                                    <div class="form-group">
                                        <label>Github Password</label>
                                        <input class="form-control"  ng-model="settingsForm.github.github_username">
                                    </div>
                                    <div class="form-group">
                                        <label>Github Folder</label>
                                        <input class="form-control" ng-model="settingsForm.github.test_folder">
                                        <div class="help-block">This is the folder the tests will be in. Do not start with a / slash</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <h4>Saucelabs</h4>
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input class="form-control" name="sauce_user" type="text" ng-model="settingsForm.saucelabs.browser.username">
                                    </div>
                                    <div class="form-group">
                                        <label>Access Key</label>
                                        <input class="form-control"  ng-model="settingsForm.saucelabs.browser.access_key">
                                    </div>
                                    <ng-include src="settings_browser.url"></ng-include>
                                </div>
                                <input type="submit" class="btn btn-success" value="Submit">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="well">
                        <h3>Help!</h3>
                        Lots of help here..

                        At vero eos et accusam et justo duo dolores et ea rebum. Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.

                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                    </div>
                    <div class="col-md-12 column">
                        <div ng-include="alerts_partial.url"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>