<div class="container">
    <span ng-include="nav.url" class="slide-animate"></span>
    <div ng-include="bc.url"></div>
    <div class="row clearfix">
        <div class="col-md-9 column">
            <div class="row clearfix">
                <div class="col-md-6">
                    <div ng-include="report_chart.url"></div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Filter tests by Tag
                            </h3>
                        </div>
                        <div class="panel-body">
                            <select ng-model="tagged" ng-options="tag as tag for tag in tags_filter">
                                <option value="">-tag filter-</option>
                            </select>
                            <div>
                                <div class="panel-body">
                                    <ul>
                                        <li ng-repeat="tag in tags_filter"><a ng-click="setTag(tag)" href>{{ tag }}</a></li>
                                        <li><a ng-click="clearTag()" href>clear filter</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div ng-include="report_numbers_site.url"></div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Tests
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-xs-2">
                                <select ng-model="passFailShow" id="pass_fail_filter">
                                    <option value="">all</option>
                                    <option value="1">passing</option>
                                    <option value="0">failing</option>
                                    <option value="3">never run</option>
                                </select>
                            </div>
                            <div class="col-xs-8">
                                <input class="form-control" type="text" ng-model="search" placeholder="search tests">
                            </div>
                            <div class="clearfix">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th><a href="" ng-click="sortOrder('status')">&nbsp;State<i class="glyphicon" ng-class="selectedCls('status')"></i></a></th>
                                        <th><a href="" ng-click="sortOrder('name')">&nbsp;Test<i class="glyphicon" ng-class="selectedCls('name')"></i></a></th>
                                        <th><a href="" ng-click="sortOrder('tags')">&nbsp;Tags<i class="glyphicon" ng-class="selectedCls('tags')"></i></a></th>
                                        <th>View</th>
                                        <th>Edit</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="test in site.testFiles | filter:{status:passFailShow} | filter:tagged | filter:search | orderBy:sort:reverse" ng-class="{danger: test.status == 0}">
                                        <td ng-bind-html="test.status | passFailFilter">
                                        </td>
                                        <td>{{ test.name }}
                                        </td>
                                        <td><span ng-repeat="tag in test.tags"> {{tag}} </span></td>
                                        <td><a id="site-view-{{ test.name_dashed }}"
                                               href="#/sites/{{ site.nid }}/tests/{{ test.name_dashed }}/show">view</a></td>
                                        <td><a id="site-edit-{{ test.name_dashed }}"
                                               href="#/sites/{{ site.nid }}/tests/{{ test.name_dashed }}/edit">edit</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="help-block">Showing latest test results: <i class="glyphicon glyphicon-exclamation-sign"></i>Never Run | <i class="glyphicon glyphicon-thumbs-down"></i>Fail | <i class="glyphicon glyphicon-thumbs-up"></i>Pass</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 column">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a id="create-test" href="#/sites/{{ site.nid }}/tests/create" class="btn btn-info">
                        <i class="glyphicon glyphicon-pencil"></i>
                        &nbsp;Create New Test</a>
                </div>
                <div class="panel-body">
                    <a id="batches" href="#/sites/{{ site.nid }}/batches" class="btn btn-default">
                        <i class="glyphicon glyphicon-book"></i>
                        &nbsp;Batch Tests</a>
                </div>
                <div class="panel-body">
                    <a class="btn btn-success" ng-href="#/reports/?siteid={{site.nid}}" id="reporting">
                        <i class="glyphicon glyphicon-record"></i>
                        &nbsp;Reporting
                    </a>
                </div>
                <div class="panel-body">
                    <a class="btn btn-danger" ng-href="#/sites/{{site.nid}}/settings" id="settings">
                        <i class="glyphicon glyphicon-record"></i>
                        &nbsp;Site Settings
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>