<ng-include src="'templates/shared/_snap_content.html'"></ng-include>
<snap-content snap-options="snapOpts">

<div class="top container">
    <span ng-include="nav.url" class="slide-animate"></span>
    <div class="row clearfix">
        <div class="col-md-8 column">
            <ng-include src="'templates/shared/bc.html'"></ng-include>
            <h3>
                Behat Testing
            </h3>
            <div class="row clearfix">
                <div class="col-md-6 column">

                    <div class="panel panel-default">
                        <div ng-include="report_chart.url"></div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Report Summary
                            </h3>
                        </div>
                        <div ng-include="report_numbers.url"></div>
                    </div>

                </div>
                <div class="col-md-6 column">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Find Site <small>by Tag or Name</small>
                            </h3>
                        </div>
                            <br>
                            <div class="form-group col-md-12">
                                <input class="form-control" placeholder="Search" ng-model="query">
                            </div>
                            <hr>
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th><a href="" ng-click="sortOrder('title')">&nbsp;Name<i class="glyphicon" ng-class="selectedCls('title')"></i></a></th>
                                            <th>Branch</th>
                                            <th><a href="" ng-click="sortOrder('status')">&nbsp;Default Tag<i class="glyphicon" ng-class="selectedCls('status')"></i></a></th>
                                            <th>View</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="site in sites | filter:query | orderBy:sort:reverse" >
                                            <td data-title="'Name'" sortable="'title'">{{ site.title }}</td>
                                            <td data-title="'Branch'">{{site.settings.github.github_branch}}</td>
                                            <td data-title="'Default Tag'" sortable="'default_tag'">{{ site.default_tag }}</td>
                                            <td data-title="'Site ID'" sortable="'nid'"><a id="site-{{ site.nid }}" href="#/sites/{{ site.nid }}">view</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Help &amp; Example Tests
                            </h3>
                        </div>
                        <div class="panel-body">
                            Links to help below
                        </div>
                        <div class="panel-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 column">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Actions
                    </h3>
                </div>
                <div class="panel-body">
                <!--<br>-->
                    <!--<div>-->
                        <!--<button type="button" class="btn btn-small btn-info">-->
                            <!--<i class="glyphicon glyphicon-book"></i>-->
                            <!--Batch Tests-->
                        <!--</button>-->
                    <!--</div>-->
                    <!--<br>-->
                    <div>
                        <a class="btn btn-success" ng-href="#/reports" id="reporting">
                            <i class="glyphicon glyphicon-record"></i>
                            Reporting
                        </a>
                    </div>
                    <div>
                        <br>
                        <a class="btn btn-default" ng-href="#/settings/create" id="add-site">
                            <i class="glyphicon glyphicon-record"></i>
                            Add Site
                        </a>
                    </div>
                </div>
                <div class="panel-footer">
                </div>
            </div>
        </div>
    </div>
</div>