.ace_editor { height: 600px; }

body {
    font-size: 13px !important; /* the first one :( */
    margin-top: 80px !important;
}

div.top {
    margin-top: 80px;
}

.test-ui ul.nav {
    float: left;
    width: 158px;
    padding: 0px;
    margin: 0px;
    background-color: #f5f5f5;
}

.test-ui li.active {
    background-color: white;
}

.test-ui .region-content ul {
    margin: 0px;
}

.test-ui div.tab-content {
    float: right;
    width: 64%;
    margin: 0px;
    padding: 0px;
}

.panel-heading h4 {
    font-size: 13px;
}

.animate-show {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
    line-height:20px;
    opacity:1;
    background:white;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    display:block!important;
}

.animate-show.ng-hide {
    line-height:0;
    opacity:0;
    padding:0 10px;
}

.ng-table {
    border: 1px solid #000;
}

accordion .panel-heading {
    cursor: pointer;
}