<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Quick Test
        </h3>
    </div>
    <div class="panel-body">
        <form name="quick_test_settings" class="form-horizontal">
            <ng-include src="settings_browser.url"></ng-include>

            <!-- tokens for site -->

            <div class="well">
                <button type="button" class="btn btn-danger" data-ng-click="runTest()">Run</button>
            </div>
        </form>
    </div>
    <div class="panel-body">
        <div class="test-results" ng-bind-html="test_results" class="ng-animate-block-transitions"></div>
    </div>
</div>