<snap-drawers>

    <div snap-drawer="right">
        <div ng-if="side_show =='run'">
            <ng-include src="test_results_partial.url"></ng-include>
        </div>
        <div ng-if="side_show == 'results'">
            <ng-include src="one_report_partial.url"></ng-include>
        </div>

        <div ng-if="side_show == 'batch_result'">
            <ng-include src="batch_result_partial.url"></ng-include>
        </div>

        <div class="panel panel-default" ng-if="!angular.unDefined(snap_content)">
            <div class="panel panel-heading">
                {{snap_content.title}}
            </div>
            <div class="panel panel-body" ng-bind-html="snap_content.body">
            </div>
        </div>

        <button class="btn btn-default" ng-click="app_helpers.closeRightSidebar()">Close Sidebar</button>
    </div>

</snap-drawers>