<div class="form-group">
    <label>Choose your Browser
        <a href="" ng-click="helpUi.helpOpen('choose_os_browser')">
            <i class="glyphicon glyphicon-comment"></i>
        </a>
    </label></br>
    <div class="checkbox"
         ng-repeat="browser in browser_options">
        <label>
            <input type="checkbox"
                   name="batch_browser[]"
                   value="{{browser}}"
                   ng-checked="selection.indexOf(browser) > -1"
                   ng-click="toggleBatchBrowser(browser)">{{ browser }}
        </label>
    </div>
</div>


