<h3>Batch Settings</h3>

        <hr>
<div class="form-group">
    <h4>Select Batch Tags [help]</h4>
    <ul class="list-inline">
        <li ng-repeat="tag in batch_tags_to_run">
            <label>{{tag}}
                <input type="checkbox"
                       id="{{tag}}"
                       ng-model="starting_batch_tags_to_run[tag]"
                       ng-true-value="true"
                       ng-change="chosenBatchTagsToRun(tag)">
            </label>
        </li>
    </ul>
</div>
<fieldset ng-disabled="!automate" class="automated">
    <legend>Automation</legend>
    <div class="form-group">

        <p ng-if="!automate">
            <strong>
                (require @scheduled or @monitoring tag to be selected)
            </strong>
        </p>
        <label>Run this test</label>
        <select
                ng-options="range.name as range.name for range in batch_run_range"
                ng-model="batch.batch_run_range"
                ng-disabled="!automate">
        </select>

        <label>Repeat On</label>
        <ul class="list-inline">
            <li ng-repeat="t in batch_run_days">
                <label>{{t}}
                    <input type="checkbox" id="{{t}}"
                           ng-model="set_batch_run_days_data[t]"
                           ng-true-value="true"
                           ng-change="choseBatchRunDays(t)"
                           ng-disabled="!automate">
                </label>
            </li>
        </ul>

        <div class="row">
            <div class="col-md-6">
                <label>Start On</label>
                <p class="input-group">
                    <input type="text" class="form-control"
                           ng-disabled="!automate"
                           datepicker-popup="{{format}}"
                           ng-model="batch.batch_start_time"
                           is-open="cal.opened"
                           min="minDate"
                           datepicker-options="dateOptions"
                           date-disabled="disabled(date, mode)"
                           ng-required="true"
                           close-text="Close" />
                  <span class="input-group-btn">
                    <button ng-disabled="!automate" class="btn btn-default" ng-click="$parent.openCal($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
            </div>
        </div>
    </div>
    <div class="row end-info">
        <h4>End</h4>
        <div class="radio">
            <label>
                <input type="radio"
                       id="never"
                       ng-model="batch.batch_end.type"
                       value="never"
                       ng-disabled="!automate">
                Never
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio"
                       id="occurrence"
                       ng-model="batch.batch_end.type"
                       value="occurrence"
                       ng-disabled="!automate">
                After
            </label>
            <input min=1 type="number"
                   ng-model="batch_end_occurrence.value"
                   ng-change="updateEnd('occurrence')"
                   ng-disabled="!automate">
            occurrences
        </div>
        <div class="radio">
            <p class="input-group">
                <label>
                    <input type="radio"
                           id="on"
                           ng-model="batch.batch_end.type"
                           value="on"
                           ng-disabled="!automate">
                    On
                </label> &nbsp;
                <input type="text"
                       ng-disabled="!automate"
                       datepicker-popup="{{format}}"
                       ng-model="batch_end_on_setting.value"
                       ng-change="updateEnd('on')"
                       min="minDate"
                       datepicker-options="dateOptions"
                       date-disabled="disabled(date, mode)"
                       ng-required="true"
                       close-text="Close" />
            </p>
        </div>
    </div>
</fieldset>

<h4>Browser to run these on [help]</h4>
<div class="form-group">
    <label>Default Browser</label></br>
    <div class="checkbox"
         ng-repeat="browser in browser_options">
        <label>
            <input type="checkbox"
                   name="batch_browser"
                   ng-model="starting_browsers_to_run[browser]"
                   ng-true-value="true"
                   ng-click="chosenBrowsersToRun(browser)">{{ browser }}
        </label>
    </div>
</div>

<div class="form-group">
    <h4>Choose environment(s)</h4>
    <ul class="list-inline">
        <li ng-repeat="t in settings.urls">
            <label>{{t.name}}
                <input type="checkbox"
                       ng-model="starting_env_to_run[t.name]"
                       ng-true-value="true"
                       ng-change="chosenEnvToRun(t)">
            </label>
        </li>
    </ul>
</div>