<ng-include src="snap.url"></ng-include>
<snap-content snap-options="snapOpts">
    <div class="top container test-ui ng-cloak">
        <span ng-include="nav.url" class="slide-animate"></span>

        <div class="row clearfix">
            <div class="col-md-6">
                <div ng-include="bc.url"></div>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-danger" ng-click="saveBatch(test_content)" ng-if="action == 'edit'">save</button>
                <button type="button" class="btn btn-danger" ng-click="saveBatch(test_content)" ng-if="action == 'edit'">save and exit</button>
                <a type="button" class="btn btn-danger" ng-href="#/sites/{{site.nid}}/batches/new" ng-if="action == 'index'">Create new batch test</a>
                <button type="button" class="btn btn-danger" ng-click="createBatch()" ng-if="action == 'new'">save new batch job</button>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <h3>
                    {{ page_title }}
                </h3>
            </div>
        </div>
        <div class="row clearfix">

            <ng-include src="batch_index_partial.url" ng-if="action == 'index'"></ng-include>

            <ng-include src="batch_create_edit_partial.url" ng-if="action != 'index'"></ng-include>

        </div>
    </div>
</snap-content>