    <div ng-model="blocks.testDetailsBlock" ng-init="blocks.testDetailsBLock=true" ng-show="blocks.testDetailsBlock" class="ng-animate-block-transitions ng-hide">
        <form role="form" name="testDetails" ng-submit="addTag(steps.testDetails.tag)">
            <div class="form-group">
                <input id="tag-input" class="form-control" name="testDetailsTag" ng-model="steps.testDetails.tag" type="text" placeholder="choose a tag">
                <br>
                <input id="add-details" class="form-control btn btn-success" type="submit" value="Add">
                <br>
            </div>
        </form>

        <form role="form" name="backgrounds" ng-submit="addStep(steps.back)">
            <div class="form-group">
                <input class="form-control" name="backGround" ng-model="steps.back.background" type="text" value="" ng-required="true" placeholder="add a bacgkround. see help for more details">
                <br>
                <input class="form-control btn btn-success" type="submit" value="Add">
                <div class="help-block" ng-model="steps.back.final"> {{ steps.back.background }}</div>
                <br>
                <br>
                <div class="well">
                    <button type="button" class="btn btn-danger" ng-click="saveTest(test_content)">save test</button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            clone <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="site in sites"><a ng-click="cloneTest(site)" href>{{site.title}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div ng-model="blocks.testStepsBlock" ng-init="blocks.testStepsBlock=false" ng-show="blocks.testStepsBlock" class="ng-animate-block-transitions">

        <div class="form-actions well">
            <input class="form-control" name="search-steps" ng-model="search" ng-change="searchForms(search)" type="text" placeholder="search for steps">
        </div>

        <!-- ##### Startig Points ##### -->
        <div ng-model="groups.starting" ng-hide="groups.starting"  ng-init="groups.starting=false" class="animate-hide animate-show ng-hide">
            <h5>Starting Points</h5>

            <form role="form" name="scenarioForm" ng-submit="addStep(steps.scenarioForm)" ng-model="form_tags.scenarioForm" ng-init="form_tags.scenarioForm='Scenario'" ng-show="showForm(form_tags.scenarioForm)" class="">
                <div class="form-group">
                    <div ng-hide="true" ng-model="steps.scenarioForm.scenario" ng-init="steps.scenarioForm.scenario='Scenario:'"></div>
                    <h6>Scenario:</h6>
                    <!--by add arg_1 or arg_2 etc to the model item name we will add quotes around it -->
                    <input class="form-control" name="scenarioFormTarget" ng-model="steps.scenarioForm.arg_1" type="text" value="" ng-required="true" ng-init="steps.scenarioForm.arg_1='Testing the page has a link'">
                    <br>
                    <input class="form-control btn btn-success" name="scenarioFormAdd" type="submit" value="Add">
                    <div class="help-block" ng-model="steps.scenarioForm.final"> {{ steps.scenarioForm.intro }} "{{ steps.scenarioForm.arg_1 }}" </div>
                </div>
            </form>
            
            <form role="form" name="givenForm" ng-submit="addStep(steps.givenForm)" ng-model="form_tags.given" ng-init="form_tags.given='URL on Visit'" ng-show="showForm(form_tags.given)" class="">
                <div class="form-group">
                    <div ng-hide="true" ng-model="steps.givenForm.intro" ng-init="steps.givenForm.intro='Given I am on'"></div>
                    <h6>Given I am on</h6>
                    <!--by add arg_1 or arg_2 etc to the model item name we will add quotes around it -->
                    <input class="form-control" name="givenFormTarget" ng-model="steps.givenForm.arg_1" type="text" value="" ng-required="true" ng-init="steps.givenForm.arg_1='/some/relative/path'">
                    <br>
                    <input class="form-control btn btn-success" name="givenFormAdd" type="submit" value="Add">
                    <div class="help-block" ng-model="steps.givenForm.final"> {{ steps.givenForm.intro }} "{{ steps.givenForm.arg_1 }}" </div>
                </div>
            </form>
            
        </div>

        <!-- ##### General Interactions ##### -->
        <div ng-model="groups.general"  ng-hide="groups.general"  ng-init="groups.general=false">
            <h5>General Interactions</h5>
            <form role="form" name="hoverForm" ng-submit="addStep(steps.hoverForm)" ng-model="form_tags.hoverForm" ng-init="form_tags.hoverForm='Menu Hover'" ng-show="showForm(form_tags.hoverForm)" class="ng-hide animate-hide">
                <div class="form-group">
                    <div ng-hide="true" ng-model="steps.hoverForm.intro" ng-init="steps.hoverForm.intro='And I hover over'"></div>
                    <h6>And I hover over</h6>
                    <select class="form-control" name="hoverFormAction" ng-model="steps.hoverForm.action" ng-required="true" ng-init="steps.hoverForm.action='the menu item named'">
                        <option value="a non link menu item named">a non menu link item eg list item or div</option>
                        <option value="the menu item named">the menu item</option>
                    </select>
                    <!--by add arg_1 or arg_2 etc to the model item name we will add quotes around it -->
                    <input class="form-control" name="hoverFormTarget" ng-model="steps.hoverForm.arg_1" type="text" value="" ng-required="true" ng-init="steps.hoverForm.arg_1='id|name|class'">
                    <br>
                    <input class="form-control btn btn-success" type="submit" name="hoverFormAdd"  value="Add">
                    <div class="help-block" ng-model="steps.hoverForm.final"> {{ steps.hoverForm.intro }} {{ steps.hoverForm.action }} "{{ steps.hoverForm.arg_1 }}" </div>
                </div>
            </form>
            <hr>
            
            <form role="form" name="visibleForm" ng-submit="addStep(steps.visibleForm)" ng-model="form_tags.visibleForm" ng-init="form_tags.visibleForm='Hidden See Not See'" ng-show="showForm(form_tags.visibleForm)" class="ng-hide animate-hide">
                <div class="form-group">
                    <div ng-hide="true" ng-model="steps.visibleForm.intro" ng-init="steps.visibleForm.intro='Then element'"></div>
                    <h6>Then element</h6>
                    <!--by add arg_1 or arg_2 etc to the model item name we will add quotes around it -->
                    <input class="form-control" name="visibleFormTarget" ng-model="steps.visibleForm.arg_1" type="text" value="" ng-required="true" ng-init="steps.visibleForm.arg_1='id|name|class'">
                    <select class="form-control" name="visibleFormAction" ng-model="steps.visibleForm.action" ng-required="true" ng-init="steps.visibleForm.action='is visible'">
                        <option value="is visible">is visible</option>
                        <option value="is not visible">is not visible</option>
                    </select>
                    <br>
                    <input class="form-control btn btn-success" type="submit" name="visibleFormAdd"  value="Add">
                    <div class="help-block" ng-model="steps.visibleForm.final"> {{ steps.visibleForm.intro }} "{{ steps.visibleForm.arg_1 }}" {{ steps.visibleForm.action }} </div>
                </div>
            </form>
            <hr>   
            
            <form role="form" name="cfpForm" ng-submit="addStep(steps.cfp)" ng-model="form_tags.cfp" ng-init="form_tags.cfp='Click Press Follow Link'" ng-show="showForm(form_tags.cfp)" class="ng-hide animate-hide">
                <div class="form-group">
                    <div ng-hide="true" ng-model="steps.cfp.intro" ng-init="steps.cfp.intro='And I'"></div>
                    <h6>And I</h6>
                    <select class="form-control" name="cfpAction" ng-model="steps.cfp.action" ng-required="true" ng-init="steps.cfp.action='follow'">
                        <option value="follow">follow</option>
                        <option value="press">press</option>
                        <option value="click">click</option>
                    </select>
                    <select class="form-control" name="cfpType" ng-model="steps.cfp.type" ng-required="true" ng-init="steps.cfp.type='the element'">
                        <option value="the element" selected>the element (css path)</option>
                        <option value="">name|label|id</option>
                        <option value="the xpath">xpath</option>
                    </select>
                    <!--by add arg_1 or arg_2 etc to the model item name we will add quotes around it -->
                    <input class="form-control" name="cfpTarget" ng-model="steps.cfp.arg_1" type="textarea" value="" ng-required="true" ng-init="steps.cfp.arg_1='some text'" placeholder="enter the target either a css path or name|label|id">
                    <br>
                    <input class="form-control btn btn-success" type="submit" name="cfpFormAdd"  value="Add">
                    <div class="help-block" ng-model="steps.cfp.final"> {{ steps.cfp.intro }} {{ steps.cfp.action }} {{ steps.cfp.type }} "{{ steps.cfp.arg_1 }}" </div>
                </div>
            </form>
            <hr>
            
            <form role="form" name="seeForm" ng-submit="addStep(steps.seeForm)" ng-model="form_tags.see" ng-init="form_tags.see='See on page'" ng-show="showForm(form_tags.see)" class="ng-hide animate-hide">
                <div class="form-group">
                    <div ng-hide="true" ng-model="steps.seeForm.intro" ng-init="steps.seeForm.intro='Then I should'"></div>
                    <h6>Then I should</h6>
                    <select class="form-control" name="seeFormAction" ng-model="steps.seeForm.action" ng-required="true" ng-init="steps.seeForm.action='see'">
                        <option value="see">see</option>
                        <option value="not see">not see</option>
                    </select>
                    <!--by add arg_1 or arg_2 etc to the model item name we will add quotes around it -->
                    <input class="form-control" name="seeFormTarget" ng-model="steps.seeForm.arg_1" type="textarea" value="" ng-required="true" ng-init="steps.seeForm.arg_1='some text'" placeholder="some text on the page">
                    <br>
                    <input class="form-control btn btn-success" name="seeFormAdd" type="submit" value="Add">
                    <div class="help-block" ng-model="steps.seeForm.final"> {{ steps.seeForm.intro }} {{ steps.seeForm.action }} {{ steps.seeForm.type }} "{{ steps.seeForm.arg_1 }}" </div>
                </div>
            </form>
            <hr>
        </div>

        <!-- ##### Form fields and Elements ##### -->
        <div ng-model="groups.elements" ng-hide="groups.elements"  ng-init="groups.elements=false" class="">
            <h5>Form fields & elements</h5>
            
            <form role="form" name="checkUncheckForm" ng-submit="addStep(steps.checkUncheckForm)" ng-model="form_tags.checkUncheckForm" ng-init="form_tags.checkUncheckForm='Check Un UnCheck'" ng-show="showForm(form_tags.checkUncheckForm)" class="ng-hide animate-hide">
                <div class="form-group">
                    <div ng-hide="true" ng-model="steps.checkUncheckForm.intro" ng-init="steps.checkUncheckForm.intro='And I'"></div>
                    <h6>And I</h6>
                    <select class="form-control" name="checkUncheckFormAction" ng-model="steps.checkUncheckForm.action" ng-required="true" ng-init="steps.checkUncheckForm.action='check'">
                        <option value="check">check</option>
                        <option value="uncheck">uncheck</option>
                    </select>
                    <!--by add arg_1 or arg_2 etc to the model item name we will add quotes around it -->
                    <input class="form-control" name="checkUncheckFormTarget" ng-model="steps.checkUncheckForm.arg_1" type="text" value="" ng-required="true" ng-init="steps.checkUncheckForm.arg_1='id|name|class|value'">
                    <br>
                    <input class="form-control btn btn-success" type="submit" name="checkUncheckFormAdd"  value="Add">
                    <div class="help-block" ng-model="steps.checkUncheckForm.final"> {{ steps.checkUncheckForm.intro }} {{ steps.checkUncheckForm.action }} "{{ steps.checkUncheckForm.arg_1 }}" </div>
                </div>
            </form>
            <hr>

            <form role="form" name="checkedOrNotForm" ng-submit="addStep(steps.checkedOrNotForm)" ng-model="form_tags.checkedOrNotForm" ng-init="form_tags.checkedOrNotForm='Check Un UnCheck Checked Not'" ng-show="showForm(form_tags.checkedOrNotForm)" class="ng-hide animate-hide">
                <div class="form-group">
                    <div ng-hide="true" ng-model="steps.checkedOrNotForm.intro" ng-init="steps.checkedOrNotForm.intro='Then the'"></div>
                    <h6>Then the</h6>
                    <!--by add arg_1 or arg_2 etc to the model item name we will add quotes around it -->
                    <input class="form-control" name="checkedOrNotFormTarget" ng-model="steps.checkedOrNotForm.arg_1" type="text" value="" ng-required="true" ng-init="steps.checkedOrNotForm.arg_1='id|name|class|value'">
                    <select class="form-control" name="checkedOrNotFormAction" ng-model="steps.checkedOrNotForm.action" ng-required="true" ng-init="steps.checkedOrNotForm.action='checkbox should be checked'">
                        <option value="checkbox should be checked">checkbox should be checked</option>
                        <option value="checkbox should not be checked">checkbox should not be checked</option>
                    </select>
                    <br>
                    <input class="form-control btn btn-success" type="submit" name="checkedOrNotFormAdd"  value="Add">
                    <div class="help-block" ng-model="steps.checkedOrNotForm.final"> {{ steps.checkedOrNotForm.intro }} "{{ steps.checkedOrNotForm.arg_1 }}" {{ steps.checkedOrNotForm.action }} </div>
                </div>
            </form>
            <hr>

            <form role="form" name="selectForm" ng-submit="addStep(steps.selectForm)" ng-model="form_tags.select" ng-init="form_tags.select='Select'" ng-show="showForm(form_tags.select)" class="ng-hide animate-hide animate-show">
                <div class="form-group">
                    <div ng-hide="true" ng-model="steps.selectForm.intro" ng-init="steps.selectForm.intro='And I select'"></div>
                    <h6>And I select</h6>
                    <!--by add arg_1 or arg_2 etc to the model item name we will add quotes around it -->
                    <input class="form-control" name="selectFormSelected" ng-model="steps.selectForm.arg_1" type="textarea" value="" ng-required="true" ng-init="steps.selectForm.arg_1='select?'">
                    <div ng-hide="true" ng-model="steps.selectForm.from" ng-init="steps.selectForm.from='from'"></div>
                    <h6>from</h6>
                    <input class="form-control" name="selectFormTarget" ng-model="steps.selectForm.arg_2" type="textarea" value="" ng-required="true" ng-init="steps.selectForm.arg_2='from name | label or id of select list'">
                    <br>
                    <input class="form-control btn btn-success" name="selectFormAdd" type="submit" value="Add">
                    <div class="help-block" ng-model="steps.selectForm.final"> {{ steps.selectForm.intro }} "{{ steps.selectForm.arg_1 }}" {{ steps.selectForm.from }} "{{ steps.selectForm.arg_2 }}" </div>
                </div>
            </form>
            <hr>

            <form role="form" name="inputForm" ng-submit="addStep(steps.inputForm)" ng-model="form_tags.inputForm" ng-init="form_tags.inputForm='Fill in Input enter'" ng-show="showForm(form_tags.inputForm)" class="ng-hide animate-hide animate-show">
                <div class="form-group">
                    <div ng-hide="true" ng-model="steps.inputForm.intro" ng-init="steps.inputForm.intro='And I fill in'"></div>
                    <h6>And I fill in</h6>
                    <!--by add arg_1 or arg_2 etc to the model item name we will add quotes around it -->
                    <input class="form-control" name="inputFormSelected" ng-model="steps.inputForm.arg_1" type="textarea" value="" ng-required="true" ng-init="steps.inputForm.arg_1='a form field name'">
                    <div ng-hide="true" ng-model="steps.inputForm.with" ng-init="steps.inputForm.with='with'"></div>
                    <h6>with</h6>
                    <input class="form-control" name="inputFormTarget" ng-model="steps.inputForm.arg_2" type="textarea" value="" ng-required="true" ng-init="steps.inputForm.arg_2='value to put into form field'">
                    <br>
                    <input class="form-control btn btn-success" name="inputFormAdd" type="submit" value="Add">
                    <div class="help-block" ng-model="steps.inputForm.final"> {{ steps.inputForm.intro }} "{{ steps.inputForm.arg_1 }}" {{ steps.inputForm.with }} "{{ steps.inputForm.arg_2 }}" </div>
                </div>
            </form>


            <form role="form" name="shouldContain" ng-submit="addStep(steps.shouldContain)" ng-model="form_tags.shouldContain" ng-init="form_tags.shouldContain='value should input'" ng-show="showForm(form_tags.shouldContain)" class="ng-hide animate-hide animate-show">
                <div class="form-group">
                    <div ng-hide="true" ng-model="steps.shouldContain.intro" ng-init="steps.shouldContain.intro='Then the'"></div>
                    <h6>Then the</h6>
                    <!--by add arg_1 or arg_2 etc to the model item name we will add quotes around it -->
                    <input class="form-control" name="shouldContainTarget" ng-model="steps.shouldContain.arg_1" type="textarea" value="" ng-required="true" ng-init="steps.shouldContain.arg_1='name|label|id'">
                    <br>

                    <select class="form-control" name="shouldContainAction" ng-model="steps.shouldContain.action" ng-required="true" ng-init="steps.shouldContain.action='field should contain'">
                        <option value="field should contain">field should contain</option>
                        <option value="field should not contain">field should not contain</option>
                    </select>

                    <!--by add arg_1 or arg_2 etc to the model item name we will add quotes around it -->
                    <input class="form-control" name="shouldContainTarget2" ng-model="steps.shouldContain.arg_2" type="textarea" value="" ng-required="true" ng-init="steps.shouldContain.arg_2='value to look for'">
                    <br>
                    <input class="form-control btn btn-success" type="submit" name="shouldContainAdd"  value="Add">
                    <div class="help-block" ng-model="steps.shouldContain.final"> {{ steps.shouldContain.intro }} "{{ steps.shouldContain.arg_1 }}" {{ steps.shouldContain.action }} "{{ steps.shouldContain.arg_2 }}"</div>
                </div>
            </form>
            <hr>
            
            
        </div>

        <!-- ##### CSS and DOM ##### -->
        <div ng-model="groups.dom" ng-hide="groups.dom"  ng-init="groups.dom=false" class="">
            <h5>CSS and DOM</h5>

            <form role="form" name="elemExistsForm" ng-submit="addStep(steps.elemExistsForm)" ng-model="form_tags.elemExistsForm" ng-init="form_tags.elemExistsForm='exists'" ng-show="showForm(form_tags.elemExistsForm)" class="ng-hide animate-hide">
                <div class="form-group">
                    <div ng-hide="true" ng-model="steps.elemExistsForm.intro" ng-init="steps.elemExistsForm.intro='Then I see this element'"></div>
                    <h6>Then I see this element</h6>
                    <select class="form-control" name="shouldContainAction" ng-model="steps.elemExistsForm.action" ng-required="true" ng-init="steps.elemExistsForm.action='exists'">
                        <option value="exists">exists</option>
                        <option value="not exists">not exists</option>
                    </select>
                    <!--by add arg_1 or arg_2 etc to the model item name we will add quotes around it -->
                    <input class="form-control" name="elemExistsFormTarget" ng-model="steps.elemExistsForm.arg_1" type="text" value="" ng-required="true" ng-init="steps.elemExistsForm.arg_1='css name eg a.menu would be menu'">
                    <br>
                    <input class="form-control btn btn-success" name="elemExistsFormAdd" type="submit" value="Add">
                    <div class="help-block" ng-model="steps.elemExistsForm.final"> {{ steps.elemExistsForm.intro }} {{ steps.elemExistsForm.action }} "{{ steps.elemExistsForm.arg_1 }}" </div>
                    <div class="help-block" ng-model="steps.elemExistsForm.final">Check to see if class exists eg a.menu would be "menu"</div>
                </div>
            </form>
            <hr>

            <form role="form" name="onClickForm" ng-submit="addStep(steps.onClickForm)" ng-model="form_tags.onClickForm" ng-init="form_tags.onClickForm='click Popup'" ng-show="showForm(form_tags.onClickForm)" class="ng-hide animate-hide">
                <div class="form-group">
                    <div ng-hide="true" ng-model="steps.onClickForm.intro" ng-init="steps.onClickForm.intro='Given I click on element which has onclick handler located at'"></div>
                    <h6>Given I click on element which has onclick handler located at</h6>
                    <!--by add arg_1 or arg_2 etc to the model item name we will add quotes around it -->
                    <input class="form-control" name="onClickFormTarget" ng-model="steps.onClickForm.arg_1" type="text" value="" ng-required="true" ng-init="steps.onClickForm.arg_1='css path eg div.formRow:nth-child(32)'">
                    <br>
                    <input class="form-control btn btn-success" name="onClickFormAdd" type="submit" value="Add">
                    <div class="help-block" ng-model="steps.onClickForm.final"> {{ steps.onClickForm.intro }} "{{ steps.onClickForm.arg_1 }}" </div>
                </div>
            </form>
            <hr>

            <hr>
        </div>

        <!-- ##### Navigation Windows Iframes and Modals ##### -->
        <div ng-model="groups.modals" ng-hide="groups.modals"  ng-init="groups.modals=false">
            <h5>Navigation Windows iFrames Modals</h5>

            <form role="form" name="switchPopupForm" ng-submit="addStep(steps.switchPopupForm)" ng-model="form_tags.switchPopupForm" ng-init="form_tags.switchPopupForm='Popup switch'" ng-show="showForm(form_tags.switchPopupForm)" class="ng-hide animate-hide">
                <div class="form-group">
                    <div ng-hide="true" ng-model="steps.switchPopupForm.intro" ng-init="steps.switchPopupForm.intro='I switch to popup by'"></div>
                    <h6>I switch to popup by</h6>
                    <select class="form-control" name="shouldContainAction" ng-model="steps.switchPopupForm.action" ng-required="true" ng-init="steps.switchPopupForm.action='clicking'">
                        <option value="clicking">clicking</option>
                        <option value="pressing">pressing</option>
                    </select>
                    <!--by add arg_1 or arg_2 etc to the model item name we will add quotes around it -->
                    <input class="form-control" name="switchPopupFormTarget" ng-model="steps.switchPopupForm.arg_1" type="text" value="" ng-required="true" ng-init="steps.switchPopupForm.arg_1='link or button to act on'">
                    <br>
                    <input class="form-control btn btn-success" name="switchPopupFormAdd" type="submit" value="Add">
                    <div class="help-block" ng-model="steps.switchPopupForm.final"> {{ steps.switchPopupForm.intro }} {{ steps.switchPopupForm.action }} "{{ steps.switchPopupForm.arg_1 }}" </div>
                </div>
            </form>

            <hr>
            <form role="form" name="switchBackForm" ng-submit="addStep(steps.switchBackForm)" ng-model="form_tags.switchBackForm" ng-init="form_tags.switchBackForm='Switch Back'" ng-show="showForm(form_tags.switchBackForm)" class="ng-hide animate-hide">
                <div class="form-group">
                    <div ng-hide="true" ng-model="steps.switchBackForm.intro" ng-init="steps.switchBackForm.intro='Then I switch back to the original window'"></div>
                    <h6>Then I switch back to the original window</h6>
                    <input class="form-control btn btn-success" name="switchBackFormAdd" type="submit" value="Add">
                </div>
            </form>
            <hr>


            <form role="form" name="iframeSetIdForm" ng-submit="addStep(steps.iframeSetIdForm)" ng-model="form_tags.iframeSetIdForm" ng-init="form_tags.iframeSetIdForm='Iframe name'" ng-show="showForm(form_tags.iframeSetIdForm)" class="ng-hide animate-hide">
                <div class="form-group">
                    <div ng-hide="true" ng-model="steps.iframeSetIdForm.intro" ng-init="steps.iframeSetIdForm.intro='Given I set the name of the iframe located in element with an id of'"></div>
                    <h6>Given I set the name of the iframe located in element with an id of</h6>
                    <!--by add arg_1 or arg_2 etc to the model item name we will add quotes around it -->
                    <input class="form-control" name="iframeSetIdFormTarget" ng-model="steps.iframeSetIdForm.arg_1" type="text" value="" ng-required="true" ng-init="steps.iframeSetIdForm.arg_1='id of iframe'">
                    <br>
                    <input class="form-control btn btn-success" name="iframeSetIdFormAdd" type="submit" value="Add">
                    <div class="help-block" ng-model="steps.iframeSetIdForm.final"> {{ steps.iframeSetIdForm.intro }} "{{ steps.iframeSetIdForm.arg_1 }}" </div>
                    <div class="help-block" ng-model="steps.iframeSetIdForm.final"> Sets an iFrame ID to no_name_iframe if there is no ID so you can then add a Switch to iFrame step after it using the na_name_iframe ID. You must use an ID but do not pass the # </div>
                </div>
            </form>
            <hr>

            <form role="form" name="iframeSwitchForm" ng-submit="addStep(steps.iframeSwitchForm)" ng-model="form_tags.iframeSwitchForm" ng-init="form_tags.iframeSwitchForm='Iframe switch name'" ng-show="showForm(form_tags.iframeSwitchForm)" class="ng-hide animate-hide">
                <div class="form-group">
                    <div ng-hide="true" ng-model="steps.iframeSwitchForm.intro" ng-init="steps.iframeSwitchForm.intro='Given I switch to iframe with name'"></div>
                    <h6>Given I switch to iframe with name</h6>
                    <!--by add arg_1 or arg_2 etc to the model item name we will add quotes around it -->
                    <input class="form-control" name="iframeSwitchFormTarget" ng-model="steps.iframeSwitchForm.arg_1" type="text" value="" ng-required="true" ng-init="steps.iframeSwitchForm.arg_1='id of iframe'">
                    <br>
                    <input class="form-control btn btn-success" name="iframeSwitchFormAdd" type="submit" value="Add">
                    <div class="help-block" ng-model="steps.iframeSwitchForm.final"> {{ steps.iframeSwitchForm.intro }} "{{ steps.iframeSwitchForm.arg_1 }}" </div>
                </div>
            </form>
            <hr>
            
        </div>

        <!-- ##### Custom ##### -->
        <div ng-model="groups.custom" ng-hide="groups.custom"  ng-init="groups.custom=false">
            <h5>Custom</h5>
            
            <form role="form" name="checkSizeForm" ng-submit="addStep(steps.checkSizeForm)" ng-model="form_tags.checkSizeForm" ng-init="form_tags.checkSizeForm='size'" ng-show="showForm(form_tags.checkSizeForm)" class="ng-hide animate-hide animate-show">
                <div class="form-group">
                    <div ng-hide="true" ng-model="steps.checkSizeForm.intro" ng-init="steps.checkSizeForm.intro='Then the element'"></div>
                    <h6>Then the element</h6>
                    <!--by add arg_1 or arg_2 etc to the model item name we will add quotes around it -->
                    <input class="form-control" name="checkSizeFormTarget" ng-model="steps.checkSizeForm.arg_1" type="text" value="" ng-required="true" ng-init="steps.checkSizeForm.arg_1='name|label|id'">
                    <br>
                    <div ng-hide="true" ng-model="steps.checkSizeForm.second" ng-init="steps.checkSizeForm.second='should be'"></div>
                    <h6>should be</h6>
                    <!--by add arg_1 or arg_2 etc to the model item name we will add quotes around it -->
                    <input class="form-control" name="checkSizeFormTarget2" ng-model="steps.checkSizeForm.arg_2" type="text" value="" ng-required="true" ng-init="steps.checkSizeForm.arg_2='% it should be'">
                    <br>
                    <div ng-hide="true" ng-model="steps.checkSizeForm.third" ng-init="steps.checkSizeForm.third='percent or greater than the window'"></div>
                    <h6>percent or greater than the window</h6>
                    <input class="form-control btn btn-success" type="submit" name="checkSizeFormAdd"  value="Add">
                    <div class="help-block" ng-model="steps.checkSizeForm.final"> {{ steps.checkSizeForm.intro }} "{{ steps.checkSizeForm.arg_1 }}" {{ steps.checkSizeForm.second }} "{{ steps.checkSizeForm.arg_2 }}" See if the element (name|label|id) is greater than the % of the window</div>
                </div>
            </form>
            <hr>

        </div>

        <!-- ##### Low Level Features ##### -->
        <div ng-model="groups.features" ng-hide="groups.features"  ng-init="groups.features=false">
            <h5>Low level features</h5>
            <form role="form" name="cookiesDestForm" ng-submit="addStep(steps.cookiesDestForm)" ng-model="form_tags.cookiesDestForm" ng-init="form_tags.cookiesDestForm='Cookies'" ng-show="showForm(form_tags.cookiesDestForm)" class="ng-hide animate-hide">
                <div class="form-group">
                    <div ng-hide="true" ng-model="steps.cookiesDestForm.intro" ng-init="steps.cookiesDestForm.intro='Then I destroy my cookies'"></div>
                    <h6>Then I destroy my cookies</h6>
                    <input class="form-control btn btn-success" name="cookiesDestFormAdd" type="submit" value="Add">
                </div>
            </form>
            <hr>
            
            <form role="form" name="cookiesSeeForm" ng-submit="addStep(steps.cookiesSeeForm)" ng-model="form_tags.cookiesSeeForm" ng-init="form_tags.cookiesSeeForm='Cookies'" ng-show="showForm(form_tags.cookiesSeeForm)" class="ng-hide animate-hide">
                <div class="form-group">
                    <div ng-hide="true" ng-model="steps.cookiesSeeForm.intro" ng-init="steps.cookiesSeeForm.intro='Then I should'"></div>
                    <h6>Then I should</h6>
                    <select class="form-control" name="cookiesSeeFormAction" ng-model="steps.cookiesSeeForm.action" ng-required="true" ng-init="steps.cookiesSeeForm.action='see cookie'">
                        <option value="see cookie">see cookie</option>
                        <option value="not see cookie">not see cookie</option>
                    </select>
                    <!--by add arg_1 or arg_2 etc to the model item name we will add quotes around it -->
                    <input class="form-control" name="cookiesSeeFormArg" ng-model="steps.cookiesSeeForm.arg_1" type="text" value="" ng-required="true" ng-init="steps.cookiesSeeForm.arg_1='monster'">
                    <br>
                    <input class="form-control btn btn-success" name="cookiesSeeFormAdd" type="submit" value="Add">
                    <div class="help-block" ng-model="steps.cookiesSeeForm.final"> {{ steps.cookiesSeeForm.intro }} {{ steps.cookiesSeeForm.action }} "{{ steps.cookiesSeeForm.arg_1 }}"</div>
                </div>
            </form>
            <hr>

            <form role="form" name="iWaitForm" ng-submit="addStep(steps.iWaitForm)" ng-model="form_tags.iWaitForm" ng-init="form_tags.iWaitForm='Wait'" ng-show="showForm(form_tags.iWaitForm)" class="ng-hide animate-hide">
                <div class="form-group">
                    <div ng-hide="true" ng-model="steps.iWaitForm.intro" ng-init="steps.iWaitForm.intro='And I wait'"></div>
                    <h6>And I wait</h6>
                    <input class="form-control btn btn-success" name="iWaitFormAdd" type="submit" value="Add">
                </div>
            </form>
            <hr>

            <form role="form" name="iWaitForSecondsForm" ng-submit="addStep(steps.iWaitForSecondsForm)" ng-model="form_tags.iWaitForSecondsForm" ng-init="form_tags.iWaitForSecondsForm='Wait'" ng-show="showForm(form_tags.iWaitForSecondsForm)" class="ng-hide animate-hide animate-show">
                <div class="form-group">
                    <div ng-hide="true" ng-model="steps.iWaitForSecondsForm.intro" ng-init="steps.iWaitForSecondsForm.intro='And I wait for'"></div>
                    <h6>And I wait for</h6>
                    <!--by add arg_1 or arg_2 etc to the model item name we will add quotes around it -->
                    <input class="form-control" name="iWaitForSecondsFormTarget" ng-model="steps.iWaitForSecondsForm.arg_1" type="text" value="" ng-required="true" ng-init="steps.iWaitForSecondsForm.arg_1='seconds'">
                    <br>
                    <div ng-hide="true" ng-model="steps.iWaitForSecondsForm.second" ng-init="steps.iWaitForSecondsForm.second='seconds'"></div>
                    <h6>seconds</h6>
                    <input class="form-control btn btn-success" type="submit" name="iWaitForSecondsFormAdd"  value="Add">
                    <div class="help-block" ng-model="steps.iWaitForSecondsForm.final"> {{ steps.iWaitForSecondsForm.intro }} "{{ steps.iWaitForSecondsForm.arg_1 }}" </div>
                </div>
            </form>
            <hr>
            
            <form role="form" name="urlMatchForm" ng-submit="addStep(steps.urlMatchForm)" ng-model="form_tags.urlMatchForm" ng-init="form_tags.urlMatchForm='url'" ng-show="showForm(form_tags.urlMatchForm)" class="ng-hide animate-hide animate-show">
                <div class="form-group">
                    <div ng-hide="true" ng-model="steps.urlMatchForm.intro" ng-init="steps.urlMatchForm.intro='Then the url should match'"></div>
                    <h6>Then the url should match</h6>
                    <!--by add arg_1 or arg_2 etc to the model item name we will add quotes around it -->
                    <input class="form-control" name="urlMatchFormTarget" ng-model="steps.urlMatchForm.arg_1" type="text" value="" ng-required="true" ng-init="steps.urlMatchForm.arg_1='http://google.com'">
                    <br>
                    <input class="form-control btn btn-success" type="submit" name="urlMatchFormAdd"  value="Add">
                    <div class="help-block" ng-model="steps.urlMatchForm.final"> {{ steps.urlMatchForm.intro }} "{{ steps.urlMatchForm.arg_1 }}" </div>
                </div>
            </form>
            <hr>

            <form role="form" name="iWaitForElementForm" ng-submit="addStep(steps.iWaitForElementForm)" ng-model="form_tags.iWaitForElementForm" ng-init="form_tags.iWaitForElementForm='Wait'" ng-show="showForm(form_tags.iWaitForElementForm)" class="ng-hide animate-hide animate-show">
                <div class="form-group">
                    <div ng-hide="true" ng-model="steps.iWaitForElementForm.intro" ng-init="steps.iWaitForElementForm.intro='Then I wait for the element'"></div>
                    <h6>Then I wait for the element</h6>
                    <!--by add arg_1 or arg_2 etc to the model item name we will add quotes around it -->
                    <input class="form-control" name="iWaitForElementFormTarget" ng-model="steps.iWaitForElementForm.arg_1" type="text" value="" ng-required="true" ng-init="steps.iWaitForElementForm.arg_1='Use the full css tag eg #form .class etc'">
                    <br>
                    <select class="form-control" name="iWaitForElementFormAction" ng-model="steps.iWaitForElementForm.action" ng-required="true" ng-init="steps.iWaitForElementForm.action='to appear'">
                        <option value="to appear">to appear</option>
                        <option value="to not be there">to not be there</option>
                    </select>

                    <input class="form-control btn btn-success" type="submit" name="iWaitForElementFormAdd"  value="Add">
                    <div class="help-block" ng-model="steps.iWaitForElementForm.final"> {{ steps.iWaitForElementForm.intro }} "{{ steps.iWaitForElementForm.arg_1 }}" {{ steps.iWaitForElementForm.action }}</div>
                </div>
            </form>
            <hr>

            <form role="form" name="responseCodeForm" ng-submit="addStep(steps.responseCodeForm)" ng-model="form_tags.responseCodeForm" ng-init="form_tags.responseCodeForm='Response Code'" ng-show="showForm(form_tags.responseCodeForm)" class="ng-hide animate-hide">
                <div class="form-group">
                    <div ng-hide="true" ng-model="steps.responseCodeForm.intro" ng-init="steps.responseCodeForm.intro='Then the response status code should be'"></div>
                    <h6>Then the response status code should be</h6>
                    <!--by add arg_1 or arg_2 etc to the model item name we will add quotes around it -->
                    <input class="form-control" name="responseCodeFormTarget" ng-model="steps.responseCodeForm.arg_1" type="text" value="" ng-required="true" ng-init="steps.responseCodeForm.arg_1='200|404|403'">
                    <br>
                    <input class="form-control btn btn-success" type="submit" name="responseCodeFormAdd"  value="Add">
                    <div class="help-block" ng-model="steps.responseCodeForm.final"> {{ steps.responseCodeForm.intro }} "{{ steps.responseCodeForm.arg_1 }}" </div>
                </div>
            </form>
            <hr>

            <form role="form" name="clickAlertForm" ng-submit="addStep(steps.clickAlertForm)" ng-model="form_tags.clickAlertForm" ng-init="form_tags.clickAlertForm='Alert'" ng-show="showForm(form_tags.clickAlertForm)" class="ng-hide animate-hide">
                <div class="form-group">
                    <div ng-hide="true" ng-model="steps.clickAlertForm.intro" ng-init="steps.clickAlertForm.intro='Then I click on the alert window'"></div>
                    <h6>Then I click on the alert window</h6>
                    <input class="form-control btn btn-success" name="clickAlertFormAdd" type="submit" value="Add">
                    <div class="help-block">Click on the Javascript Alert Window</div>
                </div>
            </form>
            <hr>

            <form role="form" name="removeElemForm" ng-submit="addStep(steps.removeElemForm)" ng-model="form_tags.removeElemForm" ng-init="form_tags.removeElemForm='Alert'" ng-show="showForm(form_tags.removeElemForm)" class="ng-hide animate-hide">
                <div class="form-group">
                    <div ng-hide="true" ng-model="steps.removeElemForm.intro" ng-init="steps.removeElemForm.intro='Then I remove the element located at'"></div>
                    <h6>Then I remove the element located at</h6>
                    <!--by add arg_1 or arg_2 etc to the model item name we will add quotes around it -->
                    <input class="form-control" name="removeElemFormTarget" ng-model="steps.removeElemForm.arg_1" type="text" value="" ng-required="true" ng-init="steps.removeElemForm.arg_1='#ID or .class or div.class etc'">
                    <br>
                    <input class="form-control btn btn-success" name="removeElemFormAdd" type="submit" value="Add">
                    <div class="help-block">get an element out of your way</div>
                </div>
            </form>
            <hr>

        </div>
    </div>

    <div ng-model="blocks.testTokensBlock" ng-init="blocks.testTokensBlock=false" ng-show="blocks.testTokensBlock" class="ng-animate-block-transitions ng-hide">
        <p>Tokens coming soon...</p>
    </div>

    <div ng-model="blocks.testResultsBlock" ng-init="blocks.testResultsBlock=false" ng-show="blocks.testResultsBlock" class="ng-animate-block-transitions ng-hide">
        <div ng-include="reports_test_page.url"></div>
    </div>

    <div ng-model="blocks.testRunBlock" ng-init="blocks.testRunBlock=false" ng-show="blocks.testRunBlock" class="ng-animate-block-transitions ng-hide">
        <div class="well">
            <button type="button" class="btn btn-danger" data-ng-click="runTest()">run</button>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Test Results
                </h3>
            </div>
            <div class="panel-body">
                <div class="test-results" ng-bind-html="test_results" class="ng-animate-block-transitions"></div>
            </div>
        </div>
    </div>