    <div ng-model="blocks.testDetailsBlock" ng-init="blocks.testDetailsBLock=true" ng-show="blocks.testDetailsBlock" class="ng-animate-block-transitions ng-hide">
        <form role="form" name="testDetails" ng-submit="addTag(steps.testDetails.tag)">
            <div class="form-group">
                <input id="tag-input" class="form-control" name="testDetailsTag" ng-model="steps.testDetails.tag" type="text" placeholder="choose a tag">
                <br>
                <input id="add-details" class="form-control btn btn-success" type="submit" value="Add">
                <br>
            </div>
        </form>

        <form role="form" name="backgrounds" ng-submit="addStep(steps.back)">
            <div class="form-group">
                <input class="form-control" name="backGround" ng-model="steps.back.background" type="text" value="" ng-required="true" placeholder="add a bacgkround. see help for more details">
                <br>
                <input class="form-control btn btn-success" type="submit" value="Add">
                <div class="help-block" ng-model="steps.back.final"> {{ steps.back.background }}</div>
                <br>
                <br>
                <button type="button" class="btn btn-danger" ng-click="saveTest(test_content)">save test</button>
            </div>
        </form>
    </div>

    <div ng-model="blocks.testStepsBlock" ng-init="blocks.testStepsBlock=false" ng-show="blocks.testStepsBlock" class="ng-animate-block-transitions ng-hide">

        <input name="search-steps" ng-model="search" ng-change="searchForms(search)" type="text" placeholder="search for steps">
        <h5>Radio buttons and checkboxes</h5>
        <hr>
        <form role="form" name="cfpForm" ng-submit="addStep(steps.cfp)" ng-model="form_tags.cfp" ng-init="form_tags.cfp='Click Press Follow Link'" ng-show="showForm(form_tags.cfp)" class="ng-hide animate-hide">
            <div class="form-group">
                <div ng-hide="true" ng-model="steps.cfp.intro" ng-init="steps.cfp.intro='And I'"></div>
                <h6>And I</h6>
                <select class="form-control" name="cfpAction" ng-model="steps.cfp.action" ng-required="true" ng-init="steps.cfp.action='follow'">
                    <option value="follow">follow</option>
                    <option value="press">press</option>
                    <option value="click">click</option>
                </select>
                <select class="form-control" name="cfpType" ng-model="steps.cfp.type" ng-required="true" ng-init="steps.cfp.type='the element'">
                    <option value="the element" selected>the element (css path)</option>
                    <option value="">name|label|id</option>
                    <option value="the xpath">xpath</option>
                </select>
                <!--by add arg_1 or arg_2 etc to the model item name we will add quotes around it -->
                <input class="form-control" name="cfpTarget" ng-model="steps.cfp.arg_1" type="textarea" value="" ng-required="true" ng-init="steps.cfp.arg_1='some text'" placeholder="enter the target either a css path or name|label|id">
                <br>
                <input class="form-control btn btn-success" type="submit" name="cfpFormAdd"  value="Add">
                <div class="help-block" ng-model="steps.cfp.final"> {{ steps.cfp.intro }} {{ steps.cfp.action }} {{ steps.cfp.type }} "{{ steps.cfp.arg_1 }}" </div>
            </div>
        </form>
        <hr>
        <form role="form" name="seeForm" ng-submit="addStep(steps.seeForm)" ng-model="form_tags.see" ng-init="form_tags.see='See on page'" ng-show="showForm(form_tags.see)" class="ng-hide animate-hide">
            <div class="form-group">
                <div ng-hide="true" ng-model="steps.seeForm.intro" ng-init="steps.seeForm.intro='Then I should'"></div>
                <h6>Then I should</h6>
                <select class="form-control" name="seeFormAction" ng-model="steps.seeForm.action" ng-required="true" ng-init="steps.seeForm.action='see'">
                    <option value="see">see</option>
                    <option value="not see">not see</option>
                </select>
                <!--by add arg_1 or arg_2 etc to the model item name we will add quotes around it -->
                <input class="form-control" name="seeFormTarget" ng-model="steps.seeForm.arg_1" type="textarea" value="" ng-required="true" ng-init="steps.seeForm.arg_1='some text'" placeholder="some text on the page">
                <br>
                <input class="form-control btn btn-success" name="seeFormAdd" type="submit" value="Add">
                <div class="help-block" ng-model="steps.seeForm.final"> {{ steps.seeForm.intro }} {{ steps.seeForm.action }} {{ steps.seeForm.type }} "{{ steps.seeForm.arg_1 }}" </div>
            </div>
        </form>
        <hr>
        <h5>Select list</h5>
        <hr>
        <form role="form" name="selectForm" ng-submit="addStep(steps.selectForm)" ng-model="form_tags.select" ng-init="form_tags.select='Select'" ng-show="showForm(form_tags.select)" class="ng-hide animate-hide">
            <div class="form-group">
                <div ng-hide="true" ng-model="steps.selectForm.intro" ng-init="steps.selectForm.intro='And I select'"></div>
                <h6>And I select</h6>
                <!--by add arg_1 or arg_2 etc to the model item name we will add quotes around it -->
                <input class="form-control" name="selectFormSelected" ng-model="steps.selectForm.arg_1" type="textarea" value="" ng-required="true" ng-init="steps.selectForm.arg_1='select?'">
                <div ng-hide="true" ng-model="steps.selectForm.from" ng-init="steps.selectForm.from='from'"></div>
                <h6>from</h6>
                <input class="form-control" name="selectFormTarget" ng-model="steps.selectForm.arg_2" type="textarea" value="" ng-required="true" ng-init="steps.selectForm.arg_2='from name | label or id of select list'">
                <br>
                <input class="form-control btn btn-success" name="selectFormAdd" type="submit" value="Add">
                <div class="help-block" ng-model="steps.selectForm.final"> {{ steps.selectForm.intro }} "{{ steps.selectForm.arg_1 }}" {{ steps.selectForm.from }} "{{ steps.selectForm.arg_2 }}" </div>
            </div>
        </form>
    </div>

    <div ng-model="blocks.testTokensBlock" ng-init="blocks.testTokensBlock=false" ng-show="blocks.testTokensBlock" class="ng-animate-block-transitions ng-hide">
        <p>Tokens coming soon...</p>
    </div>

    <div ng-model="blocks.testResultsBlock" ng-init="blocks.testResultsBlock=false" ng-show="blocks.testResultsBlock" class="ng-animate-block-transitions ng-hide">
        <p>Results coming soon...</p>
    </div>

    <div ng-model="blocks.testRunBlock" ng-init="blocks.testRunBlock=false" ng-show="blocks.testRunBlock" class="ng-animate-block-transitions ng-hide">
        <button type="button" class="btn btn-danger" data-ng-click="runTest()">run</button>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Test Results
                </h3>
            </div>
            <div class="panel-body">
                <div class="test-results" ng-bind-html="test_results" class="ng-animate-block-transitions"></div>
            </div>
        </div>
    </div>