<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Summary
        </h3>
    </div>
    <div class="panel-body">
        <div class="col-md-2 column text-center">
            <h5>Tests Created</h5>
            <strong>{{ charts.total }}</strong>
        </div>
        <div class="col-md-2 column column text-center">
            <h5>Tests Passing</h5>
            <strong>{{ charts.passing }}</strong>
        </div>
        <div class="col-md-2 column column text-center">
            <h5>Tests Failing</h5>
            <strong>{{ charts.failing }}</strong>
        </div>
        <div class="col-md-2 column column text-center">
            <h5>Sites with Coverage</h5>
            <strong>{{ charts.total - charts.not_running }}</strong>
        </div>
        <div class="col-md-2 column column text-center">
            <h5>Sites without Coverage</h5>
            <strong>{{ charts.not_running }}</strong>
        </div>
        <div class="col-md-2 column column text-center">
            <h5>USD Saved to date</h5>
            <!-- numbers still not clear right now 1 test = 10 person hours saved at $125 an hour -->
            <strong>{{ charts.total - charts.not_running * 10 * 125 | currency }}</strong>
        </div>
    </div>
</div>