<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Reports
        </h3>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Result</th>
                <th>Test Name</th>
                <th>Date</th>
                <th>Browser OS</th>
                <th>View</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="report in reports" ng-class="{danger: report.status == 0}">
                <td ng-bind-html="report.status | passFailFilter"></td>
                <td>{{ report.test_name }}</td>
                <td>{{ report.created }}</td>
                <td>{{ report.browser }} {{ report.os }}</td>
                <td><a id="report-view-{{ report.rid }}" href="#/sites/{{ site.nid }}/reports/{{ report.rid }}">view</a></td>
                <td><input type="checkbox"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>