<div class="container">
    <span ng-include="nav.url" class="slide-animate"></span>
    <div ng-include="bc.url"></div>
    <div class="row clearfix">
        <div class="col-md-8 column">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Report Charts
                    </h3>
                </div>
                <div class="panel-body">
                    {{charts}}
                </div>
                <div class="panel-footer">

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Reports
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row clearfix">
                        <div class="col-md-4">
                            <input class="form-control" type="text" ng-model="search" placeholder="search tests">
                        </div>
                        <div class="col-md-8">
                            <h5>Active Filters: </h5>
                            <ul class="list-inline">
                                <li>Site: {{ siteFilter|siteName:this }}</li>
                                <li>Tag: {{ tagged }}</li>
                                <li>Pass/Fail: <span ng-bind-html="passFailShow | passFailFilter"></span> </li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                    <div class="row clearfix">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Pass/Fail</th>
                                <th>Date</th>
                                <th>Test Name</th>
                                <th>Tags</th>
                                <th>Vendor</th>
                                <th>Results</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="report in (reportsFiltered = ( reports | filter:{status:passFailShow} | filter:{site_id:siteFilter} | filter:tagged | filter:dateRangeCheck | filter:search))" ng-class="{danger: report.status == 0}">
                                    <td ng-bind-html="report.status | passFailFilter "></td>
                                    <td>{{ report.created }}</td>
                                    <td>{{ report.test_name }}</td>
                                    <td><span ng-repeat="tag in report.tags"> {{tag}} </span></td>
                                    <td>{{ report.user_id }}</td>
                                    <td><a href="#/reports/{{ report.rid }}">drill down</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <ol>
                            <li ng-repeat="f in reportsFiltered">{{ f.test_name }}</li>
                        </ol>
                    </div>
                </div>
                <div class="panel-footer">
                </div>
            </div>
        </div>
        <div class="col-md-4 column">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Site
                    </h3>
                </div>
                <div class="panel-body">
                    <select ng-model="siteFilter" ng-options="site.nid as site.title for site in sites">
                        <option value="">-site filter-</option>
                    </select>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Test Related Tags
                    </h3>
                </div>
                <div class="panel-body">
                    <select ng-model="tagged" ng-options="tag as tag for tag in tags_filter">
                        <option value="">-test filter-</option>
                    </select>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Pass / Fail
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="col-xs-2">
                        <select ng-model="passFailShow" id="pass_fail_filter">
                            <option value="">all</option>
                            <option value="1">passing</option>
                            <option value="0">failing</option>
                            <option value="3">never run</option>
                        </select>
                    </div>
                </div>
                <div class="panel-footer">
                    Panel footer
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Results by Date
                    </h3>
                </div>
                <div class="panel-body">
                    <strong>Start: {{startDate | date:'yyyy-MM-dd'}}</strong>
                    <br>
                    <strong>End: {{endDate | date:'yyyy-MM-dd'}}</strong>
                </div>
                <div class="panel-body">
                    <div style="display:inline-block; min-height:290px;">
                        <div class="well well-sm" ng-model="startDate">
                            <datepicker max="endDate" show-weeks="showWeeks" starting-day="1" ng-click="startDateCheck()"></datepicker>
                        </div>
                    </div>
                    <div style="display:inline-block; min-height:290px;">
                        <div class="well well-sm" ng-model="endDate">
                            <datepicker min="startDate" show-weeks="showWeeks" starting-day="1"></datepicker>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    Panel footer
                </div>
            </div>
        </div>
    </div>
</div>