<div class="container test-ui ng-cloak">
    <span ng-include="nav.url" class="slide-animate"></span>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div ng-include="alerts_partial.url"></div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div ng-include="bc.url"></div>
            <h3>
                {{ test.name }}
            </h3>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-2 column">
            <accordion close-others="true">
                <accordion-group ng-click="showHideBlocks('testResultsBlock')">
                    <accordion-heading>
                        Results
                    </accordion-heading>
                    <p>See your past results [help]</p>
                </accordion-group>
                <accordion-group ng-click="showHideBlocks('testRunBlock')">
                    <accordion-heading>
                        Run a test
                    </accordion-heading>
                    <p>Run your test [help]</p>
                </accordion-group>
            </accordion>
        </div>
        <div class="col-md-4 column">
            Not sure what goes here..
        </div>

        <div class="col-md-6 column">
           nor here..
        </div>
    </div>
</div>